* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FBECEC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/imagens/beneficios_background.avif') no-repeat center fixed;
    background-size: cover;
}

header {
    background-color: #0057A3;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #FFB800;
    font-size: 32px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
  color: #ffd23f;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ffb800;
  border-radius: 10px;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #fff;
}

.beneficios {
    flex: 1;
    padding: 30px 20px;
    text-align: center;
}

.beneficios h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: whitesmoke;
     background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grafico{
    width: 120px;
    height: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imagens/grafico.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.valorizacao{
    width: 120px;
    height: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imagens/valorizacao.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.roi{
    width: 170px;
    height: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imagens/roi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sustentabilidade{
    width: 170px;
    height: 100px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/imagens/sustentabilidade.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item p {
    font-size: 22px;
    color: #FFD23F;
    text-align: left;
    line-height: 1.3;
     background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
   padding: 1rem;
}

.texto {
    background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1rem;
  color: #ffd23f;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top:33px;
}


footer {
    background-color: #0057A3;
    text-align: center;
    padding: 20px;
    color: #FFD23F;
    font-size: 20px;
}

@media (max-width: 768px) {
    
    .grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .item {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .item p {
        text-align: center;
    }
}

@media (max-width: 480px) {

    nav {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .beneficios h1 {
        font-size: 28px;
    }

    .img {
        width: 100px;
        height: 100px;
    }

    .texto {
        font-size: 18px;
    }
}